html {
  font-family: sans-serif;
  width: 80%;
}

body {
  background-color: lavender;
}

header {
  background-color: white;
  padding: 1px 10px 30px 10px;
  margin: 10px;
}

footer {
  background-color: white;
  padding: 1px 10px 30px 10px;
  margin: 10px;
}

nav {
  display: inline;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  margin: 0;
  padding: 10px;
  display: inline;
}

body {
  margin: 0 auto;
}

.hidden {
  display: none;
}

h1 {
  font-family:courier;
}

p {
  font-family:courier;
}