html {
  font-family: sans-serif;
}

body {
  background-color: lavender;
}

h1,
a {
  color: white;
}

nav {
  display: inline;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  margin: 0;
  padding: 10px;
  display: inline;
}

body {
  margin: 0 auto;
}

.hidden {
  display: none;
}